/* Core */

body {
    background: #fff;
    height: 100%;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h3 {
    margin-top: 0px;
}
a {
    color: #4078c0;
    outline: none;
}
a:hover {
    color: #777;
    text-decoration: none;
}
div.containerLg {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.svg {
    display: inline-block;
    width: 16px;
    height: 16px;
}

/* Header */

nav.navbar-default {
    background: #fff;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
    border-radius: 0;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}
nav.navbar-default .navbar-brand {
    color: #333;
    font-size: 18px;
    padding: 15px 15px;
    font-weight: normal;
}
nav.navbar-default .navbar-nav>li>a {
    color: #FFFFFF;
    transition: background-color 0.5s ease;
}
a.navbarTitle:hover,
a.navbarTitle:active,
a.navbarTitle:focus {
    color: #4078c0!important;
}
nav.navbar-default .navbar-nav>.active>a:focus,
nav.navbar-default .navbar-nav>.active>a:hover {
    background: #f5f5f5;
    color: #4078c0;
    font-weight: 600;
}
nav.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFFFFF;
}
nav.navbar-default .navbar-toggle:focus,
nav.navbar-default .navbar-toggle:hover {
    background-color: #4078c0;
}
nav.navbar-default .navbar-toggle {
    border-color: #CCC;
    background-color: #DDD;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #4078c0;
}

.pull-right {
    color: #fff;
}
.customMargin {
    margin-top: 5px;
}
.whiteBox {
    background: #fff;
}

/* Home */

.results {
    box-shadow: 0px 0px 20px #888888;
    padding: 10px 20px 20px 20px;
    margin-top: 20px;
}
.pre {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: 0 !important;
    border: none !important;
    padding: 0;
}
.result {
    border-bottom: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 10px;
}
.state {
    display: inline-block;
    padding: 4px 8px;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background-color: #999;
    float: right;
}
.state-closed {
    background-color: #bd2c00;
    -webkit-print-color-adjust: exact;
    line-height: 0px;
    padding: 0px;
    background-color: #bd2c00;
    border: 12px solid #bd2c00;
    color: #fff!important;
}
.state-open {
    background-color: #6cc644;
    -webkit-print-color-adjust: exact;
    line-height: 0px;
    padding: 0px;
    background-color: #6cc644;
    border: 12px solid #6cc644;
    color: #fff!important;
}

.btn-small {
    font-size: 12px;
    padding: 3px;
    -webkit-print-color-adjust: exact;
    line-height: 0px;
    padding: 0px;
}
.btn-save {
    background: url(/assets/img/si-glyph-floppy-disk.svg) no-repeat 10px center;
    background-size: 12px 12px;
    text-indent: 15px;
}
.btn-print a{
    color:#333;
}
.btn-logout {
    background: url(/assets/img/si-glyph-turn-off.svg) #286090 no-repeat 10px center;
    background-size: 12px 12px;
    text-indent: 15px;
    border-color: #0099e6;
    background-color: #0099e6;
}
.btn-logout:hover {
    background: url(/assets/img/si-glyph-turn-off.svg) #3c7cb2 no-repeat 10px center;
    background-size: 12px 12px;
    text-indent: 15px;
    border-color: #307aba;
}
.divider {
    height: 1px;
    width: 100%;
    display: block;
    /* for use on default inline elements like span */
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
.radio:hover {
    color: #286090;
    font-weight: 600;
}

.gitBox{
    border-radius: 3px 3px 0 0;
    border: 1px solid #d8d8d8;
    border-radius:5px;
}

.gitBox h3{
    background-color: #f5f5f5;
    margin: 0;
    padding: 9px 10px 10px;
    font-size: 16px;
    font-weight:bold;
    line-height: 17px;
    display: block;
    border-radius:5px;
}

.gitBoxIn{
    padding:20px;
}

.radio{
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.leftLogin{
    float:left;
    margin:10px 0px 10px 0px;
}

.appScreenshots{
    padding:10px 50px 10px 40px;
    width:50%;
    float:left;
    margin:10px 0px 10px 0px;
    display:none;
    border-left:1px solid #d8d8d8;
}

.appScreenshots img{
    width:100%;
    height:100%;
}

.signInForm{
    width:247px;
    margin:0 auto;
}

.clear{
    clear:both;
}

.btn{
    transition: background-color 0.5s ease;
}

.btnCustom{
    border-color: #0099e6;
    background-color: #0099e6;
    color:#fff;
    padding: 17px 45px;
}

.btnCustom:hover{
    background-color: #0088cc;
    border-color: #0088cc;
    color:#fff;
}

/* Loading */

.svgCenter {
    text-align: center;
}
.svgLoader {
    height: 15vmin;
    margin-top: 60px;
    vertical-align: top;
    text-align: center;
}

@media print {
    .btn-start, .btn-print{display:none!important;}
}

/* Mobile view */

@media (min-width: 268px) {
    .nav-justified>li {
        display: table-cell;
        width: 1%;
    }

}


@media (min-width: 300px) {
    nav.navbar>.container .navbar-brand,
    nav.navbar>.container-fluid .navbar-brand {
        font-size: 20px;
    }
    
    .btn-container{
        text-align:center;
        margin-bottom:10px;
    }
    
    .btn-logout{
        float:none!important;
    }
    
    .leftLogin{
        width:100%;
        padding:20px;
    }
    
}

@media (min-width: 768px) {
    ul.navbar-nav {
        margin-left: 30px;
    }
    
    .btn-container{
        text-align:inherit;
        margin-bottom:0;
    }
    
    .btn-logout{
        float:right!important;
    }
    
    .appScreenshots{
        display:block;
    }
    
    .leftLogin{
        width:50%;
        padding:60px 20px;
    }
    
}

