/* Core */

body {
    background: #fff;
    height: 100%;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h3 {
    margin-top: 0px;
}
a {
    color: #4078c0;
    outline: none;
}
a:hover {
    color: #777;
    text-decoration: none;
}
div.containerLg {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.svg {
    display: inline-block;
    width: 16px;
    height: 16px;
}

/* Header */

nav.navbar-default {
    background: #f5f5f5;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
    border-radius: 0;
}
nav.navbar-default .navbar-brand {
    color: #333;
    font-size: 18px;
    padding: 15px 15px;
    font-weight: normal;
}
nav.navbar-default .navbar-nav>li>a {
    color: #FFFFFF;
}
a.navbarTitle:hover,
a.navbarTitle:active,
a.navbarTitle:focus {
    color: #4078c0!important;
}
nav.navbar-default .navbar-nav>.active>a:focus,
nav.navbar-default .navbar-nav>.active>a:hover {
    background: #f5f5f5;
    color: #4078c0;
    font-weight: 600;
}
nav.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFFFFF;
}
nav.navbar-default .navbar-toggle:focus,
nav.navbar-default .navbar-toggle:hover {
    background-color: #00BCD4;
}
nav.navbar-default .navbar-toggle {
    border-color: #fff;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #00BCD4;
}
@media (min-width: 300px) {
    nav.navbar>.container .navbar-brand,
    nav.navbar>.container-fluid .navbar-brand {
        font-size: 20px;
    }
}
@media (min-width: 768px) {
    ul.navbar-nav {
        margin-left: 30px;
    }
}
@media (min-width: 268px) {
    .nav-justified>li {
        display: table-cell;
        width: 1%;
    }
}
.pull-right {
    color: #fff;
}
.customMargin {
    margin-top: 5px;
}
.whiteBox {
    background: #fff;
    padding: 10px;
}

/* Home */

.results {
    box-shadow: 0px 0px 20px #888888;
    padding: 10px 20px 20px 20px;
    margin-top: 20px;
}
.pre {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: 0 !important;
    border: none !important;
    padding: 0;
}
.result {
    border-bottom: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 10px;
}
.state {
    display: inline-block;
    padding: 4px 8px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    background-color: #999;
    float: right;
}
.state-closed {
    background-color: #bd2c00;
}
.state-open {
    background-color: #6cc644;
}
.btn-small {
    font-size: 12px;
    padding: 3px;
}
.btn-save {
    background: url(/assets/img/si-glyph-floppy-disk.svg) no-repeat 10px center;
    background-size: 12px 12px;
    text-indent: 15px;
}
.btn-logout {
    background: url(/assets/img/si-glyph-turn-off.svg) #286090 no-repeat 10px center;
    background-size: 12px 12px;
    text-indent: 15px;
}
.btn-logout:hover {
    background: url(/assets/img/si-glyph-turn-off.svg) #3c7cb2 no-repeat 10px center;
    background-size: 12px 12px;
    text-indent: 15px;
    border-color: #307aba;
}
.divider {
    height: 1px;
    width: 100%;
    display: block;
    /* for use on default inline elements like span */
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
.radio:hover {
    color: #286090;
    font-weight: 600;
}

/* Loading */

.svgCenter {
    text-align: center;
}
.svgLoader {
    height: 15vmin;
    margin-top: 60px;
    vertical-align: top;
    text-align: center;
}
